\#*
**/*.db
*~
.#*
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
public/assets
config/database.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
log/*.log
tmp
coverage/*
var
TAGS
.bundle/*
vendor/gems/*
vendor/bundler/*
Gemfile.lock
capybara*
db/sample/**/*
db/sample/*
